@import url('https://fonts.googleapis.com/css2?family=Comic+Neue:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/* COLOR PALETTE */
:root{
    --color-background:#121212;
    --color-lighter:#1E1E1E;
    --color-text-light:white;
    --color-text-muted:#B3B3B3;
    --color-hover:#EAEAEA;
    --color-borders:#292929;
    --color-heavenly-light:#5f5a5a;
    --color-textbox:#1E1E1E;
}


.lightmode{
    --color-background:white;
    --color-lighter:#0077B6;
    --color-text-light:black;
    --color-text-muted:rgb(59, 55, 55);
    --color-hover:black;
    --color-borders:#292929;
    --color-heavenly-light:#5f5a5a;
    --color-textbox:#CAF0F8
}
*{
    margin:0;
    padding:0;
    font-family: 'Montserrat';
}
/* ----------------------------------------------------------------------------------------- */
/* LIGHT  -  DARK  SWITCH  STYLES */
/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }
  
  /* Hide default HTML checkbox */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgb(56, 55, 55);
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #ccc;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #ccc;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }
/* ---------------------------------------------------------------------------------------- */
body{
    width:100%;
    margin: 0 auto;
    background-color: var(--color-background);
}
nav{
    background-color: var(--color-lighter);
    border: 1px solid var(--color-borders);
    
    
}
.nav{
    width:80%;
    color:var(--color-hover);
    margin:0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    ul{
        list-style-type: none;
        display:flex;
        li{
            margin: 0.5rem 1.5rem;
            cursor:pointer;
            padding: 0.5rem 0.5rem;
            a{color:white;}
        }
        li:hover{
            background-color: var(--color-heavenly-light);
            transition: background-color .6s;
            border-radius: 0.5rem;
        }
    }
}
.container{
    width:80%;
    margin:0 auto;
    color:var(--color-hover);
    display: flex;
    flex-direction: column;
    height:95vh;
    justify-content: space-between;
}
main,aside{
    margin-top: 3em;
}
main h1:first-of-type{
    font-size: 2.5rem;
}
main h1{
    font-size: 3.5rem;
    background: linear-gradient(to right,var(--color-text-light), var(--color-heavenly-light) );
    background-clip: text;
    color:transparent
}
main p{
    margin: 1rem 0;
    font-size: 1.25rem;
    color:var(--color-text-muted);
}
#brand{
    font-size: 5rem;
    margin-left: 0.75rem;

}
main button{
    margin-top: 2rem;
    padding: 0.5rem 1.5rem;
    font-size: 1.125rem;
    background-color:var(--color-textbox);
    color:var(--color-hover);
    border:none;
    transition: all 0.25s;
    cursor:pointer;
}
main button:hover{
    background-color: var(--color-textbox);
    color:var(--color-hover);
    box-shadow: 0 0.75rem 0.75rem -0.4rem #4e74ac;
    transform:translateY(-0.25rem)
}
main h1:last-of-type{
    margin-bottom: 2.5rem;
}
.main-area{
    display:flex;
    justify-content: space-between;
    aside{
        img{    
            height:300px;
            margin-top: 10%;
            border-radius: 50%;
        }
    }
}
.titles{
    display:flex;
    gap:28%;
}
a{
    color:var(--color-hover);
    text-decoration: none;
}
.wrap{
    display:flex;
    margin-top: -2rem;

}
.card2{
    background-color: var(--color-textbox);
    width:100%;
    padding:3%;
    border-radius: 14px;
    margin: 0 5%
}
#styling{
    position: relative;
}
#styling::before{
    content: '';
    background: linear-gradient(to right, #4caf50, #00a8e8);
    position: absolute;
    height:1px;
    width:100%;
    top:-2.5px;
    left:0; 
}
.wrapper{
    display:flex;
    gap:1rem;
    width:35%;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
}
.card{
    box-sizing: border-box;
    padding: 20px 30px;
    flex-shrink: 0;
    width:100%;
    background-color: var(--color-textbox);
    border-radius: 14px;
    text-align: center;
    scroll-snap-align: center;

}
footer{
    align-self:center;
}
.contact-group{
    display:flex;
}
.contact-group-specific:hover{
    background-color: var(--color-heavenly-light);
    transition: all 0.6s;
    display: flex;
    align-items: center;
}
.contact-group-specific{
    margin:1rem 2rem;
    display:flex;
    align-items: center;
    padding: 0.25rem;
    border-radius: 0.5rem;

}
.icons{
    width:32px;
    height:32px;
    object-fit: contain;
    margin-right: 0.5rem;
}
.about_p{
    width:80%;
    line-height: 1.5;
}
#cv{
    cursor:pointer;
    position: relative;
    
}
#cv::before{
    content:'';
    width:10px;
    height:1px;
    background: linear-gradient(to right,#4caf50, #00a8e8); 
    position: absolute;
    bottom:0;
    width:100%;
}
.input-area{
    margin:5%;
    display:flex;
    justify-content: center;
    align-items: center;
}
.input-area input,textarea{
    display:block;
    margin:0.5rem;
    width:600px;
    height:30px;
    accent-color: #4caf50;
    caret-color: #a497da;
    background:rgb(184, 182, 182);
    border-radius: 5px;

}
.input-area textarea{
    height:80px;
}
.input-area button{
    width:50%;
    padding:.5rem;
    font-size: 1.25rem;
    margin-left: 25%;
    margin-top: 0.5rem;
    background-color:rgb(184,182,182);
    border-radius: 5px;
    
}
#contact_text{
    margin-bottom: 1.5rem;
}
.light-dark{
display:flex;
align-items: center;
}
.light-dark svg:last-child{
    display:none
}
.lightmode .light-dark svg:first-child{
    display:none;
}
.lightmode .light-dark svg:last-child{
    display:block;
}
